@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Arizonia&family=Lovers+Quarrel&family=Monsieur+La+Doulaise&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Amarante&family=Bodoni+Moda:opsz@6..96&family=Cormorant:wght@300&family=Ephesis&family=Foldit:wght@100&family=Josefin+Sans:wght@100&family=Julius+Sans+One&family=Kaushan+Script&family=Lato:wght@100&family=Playfair+Display+SC&family=Playfair+Display:wght@500&family=Quicksand:wght@300&family=WindSong&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.blurChoosedImage {
}

#showAllButton {
  display: none;
}

.arizonia_regular {
  font-family: "Arizonia", cursive;
  font-weight: 400;
  font-style: normal;
}

.alex-brush-regular {
  font-family: "Alex Brush", cursive;
  font-weight: 400;
  font-style: normal;
}

.monsieur-la {
  font-family: "Monsieur La Doulaise", cursive;
  font-weight: 400;
  font-style: normal;
}

.lovers-quarrel-regular {
  font-family: "Lovers Quarrel", cursive;
  font-weight: 400;
  font-style: normal;
}

@layer utilities {
  @variants responsive {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
}

textarea {
  resize: none;
}

.sideBarBackground {
  /* background-color: rgb(31, 30, 30); */
  background: #536976; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #292e49,
    #536976
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #292e49,
    #1b3039
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

input {
  accent-color: rgb(52, 5, 74);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#file_bigger {
  display: none;
}

.mainBg {
  background: #8a2387;
  /* background: -webkit-linear-gradient(to right, #2e98b8, #f135e4, #bb901b); */
  background: linear-gradient(#390570, #9d3442, #8a2387);
}

.mainBgF {
  /* background: #8a2387; */
  /* background: -webkit-linear-gradient(to right, #2e98b8, #f135e4, #bb901b); */
  background: linear-gradient(#2b012a, #140326, #170104);
}

.div1 {
  filter: blur(0.5px);
}
.div2 {
  filter: blur(2px);
  fill-opacity: inherit;
}
#Mall {
  display: none;
}
#Museum {
  display: none;
}
#Park {
  display: none;
}
#School {
  display: none;
}
#Villa {
  display: none;
}
.buttonColor {
  color: rgb(41, 124, 124);
}
.boxShadow {
  box-shadow: 0px 10px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.18),
    rgba(0, 0, 0, 0.37)
  );
}

.WhyChooseUs {
  color: #774ac5;
}

/* loader start*/
.loader {
  width: 44px;
  height: 44px;
  position: relative;
  background: #a39e9e;
  border-radius: 4px;
  overflow: hidden;
}

.loader:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  transform: rotate(45deg) translate(30%, 40%);
  background: #740b91;
  box-shadow: 32px -34px 0 5px #3a0f86;
  animation: slide 2s infinite ease-in-out alternate;
}

.loader:after {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #5e109a;
  transform: rotate(0deg);
  transform-origin: 35px 145px;
  animation: rotate 2s infinite ease-in-out;
}

@keyframes slide {
  0%,
  100% {
    bottom: -35px;
  }

  25%,
  75% {
    bottom: -2px;
  }

  20%,
  80% {
    bottom: 2px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-15deg);
  }

  25%,
  75% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(25deg);
  }
}

/* loader end*/

/* #imageChoosed{
  display: none;
} */

/* * {
  border: 1px solid teal;
} */

/* 2xl ++++*/
@media (min-width: 1536px) {
  /* ! making home page responsive  */
  .title {
    font-size: 300px;
  }
  .titleS {
    font-size: 150px;
    color: rgb(0, 255, 85);
  }

  .promptText {
    font-size: 14px;
    line-height: 20px;
  }
  .NP {
    height: 16vh;
  }
  .VrikaAI {
  }
  .VrikaAIText {
  }
}

/* 2xl */
/* ! making home page responsive  */
@media (min-width: 1281px) and (max-width: 1536px) {
  .title {
    font-size: 200px;
  }
  .titleS {
    font-size: 150px;
    color: rgb(0, 255, 85);
  }
  .promptText {
    font-size: 14px;
    line-height: 20px;
  }
  .NP {
    height: 18vh;
  }
  .videoC {
    width: 100%;
    height: 60vh;
  }
}

/* xl */
/* ! making home page responsive  */
@media (min-width: 1025px) and (max-width: 1280px) {
  .title {
    font-size: 180px;
    color: red;
  }
  .titleS {
    font-size: 120px;
  }

  .promptText {
    font-size: 13px;
    line-height: 20px;
  }
  .NP {
    height: 20vh;
  }
  .videoC {
    width: 100%;
    height: 50vh;
  }
  /* ! sign up page  */
  .mainDivSignUp2 {
    width: 80%;
    height: auto;
  }
  .mainDivSignUp {
    width: 100%;
    height: auto;
  }
  .profileSignUpImg {
    height: 35vh;
  }
}

/* lg */
/* ! making home page responsive  */
@media (min-width: 769px) and (max-width: 1024px) {
  .title {
    font-size: 150px;
  }
  .titleS {
    font-size: 100px;
    color: rgb(0, 242, 255);
  }

  /* * use case start */
  .mallContent {
    flex-direction: column-reverse;
    align-items: center;
  }
  .promptText {
    font-size: 13px;
    line-height: 20px;
  }
  .mainImg {
    width: 50%;
  }
  .boxShadow2 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .imageBig {
    width: 80%;
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
  }
  .mpn {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 75vw;
    justify-content: center;
  }
  .promptW {
    width: 36vw;
  }
  .NP {
    height: 17vh;
  }
  .GeneratedImage {
    height: 30vh;
    margin-top: 20px;
    width: 72vw;
  }

  /* * feature page code  */
  .VrikaAI {
    font-size: 2.3rem;
  }
  .VrikaAIText2 {
    font-size: 0.8rem;
  }
  .VrikaAIText {
    margin-top: 0vh;
    margin-bottom: 3vh;
    width: 100%;
  }
  .contentFeatures {
    flex-direction: column;
  }
  .videoC {
    width: 100%;
    height: 47vh;
  }

  /* ! Footer  */
  .footer {
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .companyTag {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px rgb(19, 151, 15) solid; */
  }
  .companyRoute {
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px rgb(19, 151, 15) solid; */
  }
  .companySocial {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px rgb(19, 151, 15) solid; */
  }
  .companyS {
    width: 100%;
    /* border: 2px rgb(19, 151, 15) solid; */
  }

  /* ! sign up page  */
  .mainDivSignUp2 {
    width: 80%;
    height: auto;
  }
  .mainDivSignUp {
    width: 100%;
    height: auto;
  }
  .profileSignUpImg {
    height: 35vh;
  }
}

/* md */
/* ! making home page responsive  */
@media (min-width: 641px) and (max-width: 768px) {
  .title {
    font-size: 120px;
    color: rgb(255, 255, 0);
  }
  .titleS {
    font-size: 80px;
  }
  .GetStartedFree {
    font-size: 30px;
  }
  .mallContent {
    flex-direction: column-reverse;
    /* margin-top: 15rem; */
    /* width: 100%; */
    align-items: center;
  }

  /* * use case start */
  .mallContent {
    flex-direction: column-reverse;
    align-items: center;
  }
  .promptText {
    font-size: 13px;
    line-height: 20px;
  }
  .mainImg {
    width: 50%;
  }
  .boxShadow2 {
    width: 80%;
    /* height: 60vh; */
    /* margin-top: 6rem; */
    margin-left: auto;
    margin-right: auto;
  }
  .imageBig {
    width: 80%;
    /* margin-top: 6rem; */
    margin-left: auto;
    margin-right: auto;
  }
  .mpn {
    /* margin-top: 23rem; */
    display: flex;
    flex-direction: column;
    width: 75vw;
    justify-content: center;
  }
  .promptW {
    width: 36vw;
  }
  .NP {
    height: 20vh;
  }
  .GeneratedImage {
    height: 25vh;
    margin-top: 20px;
    width: 72vw;
  }

  /* * feature page code  */
  .VrikaAI {
    font-size: 2.3rem;
  }
  .VrikaAIText2 {
    font-size: 0.8rem;
  }
  .VrikaAIText {
    margin-top: 0vh;
    margin-bottom: 3vh;
    width: 100%;
  }
  .contentFeatures {
    flex-direction: column;
  }
  .videoC {
    width: 100%;
    height: 35vh;
  }
  /* ! Footer  */
  .footer {
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .companyTag {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px rgb(19, 151, 15) solid; */
  }
  .companyRoute {
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px rgb(19, 151, 15) solid; */
  }
  .companySocial {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px rgb(19, 151, 15) solid; */
  }
  .companyS {
    width: 100%;
    /* border: 2px rgb(19, 151, 15) solid; */
  }

  /* ! sign up page  */
  .mainDivSignUp2 {
    width: 80%;
    height: auto;
  }
  .mainDivSignUp {
    width: 100%;
    height: auto;
  }
  .profileSignUpImg {
    height: 35vh;
  }
}

/* sm */
/* ! making home page responsive  */
@media (max-width: 640px) {
  .title {
    font-size: 90px;
    color: rgb(153, 50, 65);
  }
  .titleS {
    font-size: 60px;
  }
  .threeTags {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40vw;
    padding-right: 40vw;
    font-size: 15px;
  }
  .svgH {
    width: "20px";
    height: "20px";
    margin-top: 0px;
  }
  .GetStartedFree {
    font-size: 23px;
    padding: 15px;
  }
  .mallContent {
    flex-direction: column-reverse;
    /* margin-top: 15rem; */
    width: 100%;
    align-items: center;
  }

  /* * use case start */
  .mallContent {
    flex-direction: column-reverse;
    align-items: center;
  }
  .promptText {
    font-size: 10px;
    line-height: 13px;
  }
  .NegativeP {
    font-size: 0.6rem;
  }
  .mainImg {
    width: 50%;
  }
  .boxShadow2 {
    width: 80%;
    /* height: 60vh; */
    /* margin-top: 6rem; */
    margin-left: auto;
    margin-right: auto;
  }
  .imageBig {
    width: 80%;
    /* margin-top: 6rem; */
    margin-left: auto;
    margin-right: auto;
  }
  .mpn {
    /* margin-top: 23rem; */
    display: flex;
    flex-direction: column;
    width: 75vw;
    justify-content: center;
  }
  .promptW {
    width: 36vw;
  }
  .NP {
    height: 24vh;
  }
  .GeneratedImage {
    height: 23vh;
    margin-top: 20px;
    width: 72vw;
  }

  /* * feature page code  */
  .VrikaAI {
    font-size: 2.3rem;
  }
  .VrikaAIText2 {
    font-size: 0.8rem;
  }
  .VrikaAIText {
    margin-top: 0vh;
    margin-bottom: 3vh;
    width: 100%;
  }
  .contentFeatures {
    flex-direction: column;
  }
  .videoC {
    width: 100%;
    height: 30vh;
  }

  /* ! making generations dashboard responsive */

  .mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100%; */
    /* border: 2px rgb(106, 0, 255) solid; */
  }
  /* * side tools */
  .allTools {
    flex-direction: column;
    margin-top: 1%;
    /* border: 2px rgb(106, 0, 255) solid; */
    width: 100%;
  }
  .sideTools {
    flex-direction: row;
    margin-left: 0;
    width: 100%;
    height: 7vh;
    justify-content: space-between;
    /* border: 2px rgb(0, 255, 30) solid; */
  }
  .sideTools1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    /* border: 2px red solid; */
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .sideToolsObject {
    margin-bottom: 0;
    padding-bottom: 0;
    width: 25px;
    height: 25px;
    /* margin-left: 10px; */
    /* margin-right: 10px; */
    /* border: 2px red solid; */
  }
  .sideToolsObject1 {
    /* margin-bottom: 0;
    padding-bottom: 0; */
    /* width: 30px;
    height: 30px; */
    margin-left: 10px;
    margin-right: 10px;
    /* border: 2px red solid; */
  }
  .seperateDiv {
    transform: rotate(180deg);
    display: none;
  }

  /* * image dashboard */
  .imageViewPort {
    width: 100%;
    height: 40vh;
    margin-left: 0;
  }

  /* * side bar tool */
  .showSettingsSide {
    width: 100%;
    height: 38vh;
    overflow: scroll;
  }
  .generateButoon {
    margin-left: 290px;
  }

  /* ! User management dashboard */
  .profileImageData {
    flex-direction: column;
    height: 100%;
    /* border: 2px red solid; */
    padding: 0;
    overflow: scroll;
  }
  .profileData {
    flex-direction: row;
    width: 100%;
    height: 50%;
    /* border: 2px rgb(0, 191, 255) solid; */
    margin: 0;
    /* margin-top: 200px; */
    overflow: scroll;
  }
  .profileImage {
    /* border: 2px rgb(51, 255, 0) solid; */
    height: 50%;
    overflow: scroll;
    width: 100%;
  }
  .proImg {
    width: 100px;
    height: 100px;
  }
  .personal {
    display: flex;
    flex-direction: row;
  }
  .userName {
    flex-direction: column;
    align-items: start;
  }
  .uName {
    font-size: 15px;
    margin-left: 10px;
  }
  .uBtn {
    width: 100px;
    font-size: 10px;
    margin-top: 40px;
  }
  .userPay {
    align-items: start;
    padding: 0;
    /* font-size: 10px; */
    line-height: 6px;
  }
  .GeneratedImages {
    font-size: 12px;
    display: none;
  }
  .SearchImages {
    width: 50%;
    margin-right: 10px;
    min-height: 30px;
  }
  .popImage {
    height: 70vh;
    /* margin-top: 20px; */
    margin-bottom: 7vh;
    flex-direction: column;
    /* border: 2px rgb(15, 63, 151) solid; */
  }
  .popImg {
    height: 40vh;
  }
  .generatedCon {
    width: 100%;
    overflow: scroll;
    /* border: 2px rgb(19, 151, 15) solid; */
    height: 40vh;
  }

  /* ! Footer  */
  .footer {
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .companyTag {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px rgb(19, 151, 15) solid; */
  }
  .companyRoute {
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px rgb(19, 151, 15) solid; */
  }
  .companySocial {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px rgb(19, 151, 15) solid; */
  }
  .companyS {
    width: 100%;
    /* border: 2px rgb(19, 151, 15) solid; */
  }

  /* ! sign up page  */
  .mainDivSignUp2 {
    width: 80%;
    height: auto;
  }
  .mainDivSignUp {
    width: 100%;
    height: auto;
  }
  .profileSignUpImg {
    height: 35vh;
  }
}
